$primary: #7066e0;
$success: #a5dc86;
$danger: #f27474;
$warning: #f8bb86;
$info: #3fc3ee;
$dark: #202020;
$secondary: #dfdfdf;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);